#### SQL Database

In [2]:
import sqlite3
import os

os.makedirs('data/databases', exist_ok=True)

In [3]:
# create a sample sqlite databse

conn = sqlite3.connect('data/databases/company.db')
cur = conn.cursor()

In [ ]:
cur.execute('''CREATE TABLE IF NOT EXISTS employees
                (id INTEGER PRIMARY KEY, name TEXT, role TEXT, department TEXT, salary REAL)''')

In [5]:
cur.execute('''CREATE TABLE IF NOT EXISTS projects
                (id INTEGER PRIMARY KEY, name TEXT, status TEXT, budget REAL, lead_id INTEGER)''')

In [9]:
# Insert sample data
employees = [
    (1, 'John Doe', 'Senior Developer', 'Engineering', 95000),
    (2, 'Jane Smith', 'Data Scientist', 'Analytics', 105000),
    (3, 'Mike Johnson', 'Product Manager', 'Product', 110000),
    (4, 'Sarah Williams', 'DevOps Engineer', 'Engineering', 98000)
]
projects = [
    (1, 'RAG Implementation', 'Active', 150000, 1),
    (2, 'Data Pipeline', 'Completed', 80000, 2),
    (3, 'Customer Portal', 'Planning', 200000, 3),
    (4, 'ML Platform', 'Active', 250000, 2)
]

In [10]:
cur.executemany('INSERT OR REPLACE INTO employees VALUES (?,?,?,?,?)', employees)
cur.executemany('INSERT OR REPLACE INTO projects VALUES (?,?,?,?,?)', projects)

In [11]:
cur.execute('Select * from employees')

In [12]:
conn.commit()
conn.close()

### Database Content Extraction

In [13]:
from langchain_community.utilities import SQLDatabase
from langchain_community.document_loaders import SQLDatabaseLoader

In [17]:
# Method 1: SQLDatabase Utility
db = SQLDatabase.from_uri("sqlite:///data/databases/company.db")

# get database info
print(f"Tables: {db.get_usable_table_names()}")
print(f"\nTable DDL:")
print(db.get_table_info())

Tables: ['employees', 'projects']

Table DDL:

CREATE TABLE employees (
	id INTEGER,
	name TEXT,
	role TEXT,
	department TEXT,
	salary REAL,
	PRIMARY KEY (id)
)

/*
3 rows from employees table:
id	name	role	department	salary
1	John Doe	Senior Developer	Engineering	95000.0
2	Jane Smith	Data Scientist	Analytics	105000.0
3	Mike Johnson	Product Manager	Product	110000.0
*/


CREATE TABLE projects (
	id INTEGER,
	name TEXT,
	status TEXT,
	budget REAL,
	lead_id INTEGER,
	PRIMARY KEY (id)
)

/*
3 rows from projects table:
id	name	status	budget	lead_id
1	RAG Implementation	Active	150000.0	1
2	Data Pipeline	Completed	80000.0	2
3	Customer Portal	Planning	200000.0	3
*/

In [27]:
from typing import List
from langchain_core.documents import Document

# method 2: custom sql processing for document conversion
print("\n Custom SQL Processing")

def sql_to_documents(dbpath: str) -> List[Document]:
    conn = sqlite3.connect(dbpath)
    cur = conn.cursor()
    documents = []
    cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cur.fetchall()

    for table in tables:
        table_name = table[0]

        #get table schema
        cur.execute(f"PRAGMA table_info({table_name});")
        columns = cur.fetchall()
        column_names = [col[1] for col in columns]

        #get table data
        cur.execute(f"SELECT * FROM {table_name}")
        rows = cur.fetchall()

        #create table overview document
        table_content = f"Table: {table_name} \n"
        table_content += f"Columns: {', '.join(column_names)}\n"
        table_content += f"Total Records; {len(rows)}\n\n"

        # Add sample records
        table_content += "Sample Records: \n"
        for row in rows[:5]: # First 5 records
            record = dict(zip (column_names, row))
            table_content += f"{record}\n"

        doc = Document(
            page_content=table_content,
            metadata={
            'source': dbpath,
            'table_name': table_name,
            'num_records': len(rows),
            'data_type': 'sql_table'
        })

        documents.append(doc)
    
    # Example: Join employees and projects
    cur.execute("""
    SELECT e.name, e.role, p.name as project_name, p.status
    FROM employees e
    JOIN projects p ON e.id = p.lead_id """)

    relationships = cur.fetchall()

    rel_content = "Employee-Project Relationships: \n\n"

    for rel in relationships:
        rel_content += f"{rel[0]} ({rel[1]}) leads {rel[2]} - Status: {rel[3]}\n"
        rel_doc = Document(
        page_content=rel_content,
        metadata={
        'source': dbpath,
        'data_type': 'sql_relationships',
        'query': 'employee_project_join'
        }
        )
        documents.append(rel_doc)
    
    return documents

 Custom SQL Processing

In [28]:
sql_to_documents("./data/databases/company.db")

[Document(metadata={'source': './data/databases/company.db', 'table_name': 'employees', 'num_records': 4, 'data_type': 'sql_table'}, page_content="Table: employees \nColumns: id, name, role, department, salary\nTotal Records; 4\n\nSample Records: \n{'id': 1, 'name': 'John Doe', 'role': 'Senior Developer', 'department': 'Engineering', 'salary': 95000.0}\n{'id': 2, 'name': 'Jane Smith', 'role': 'Data Scientist', 'department': 'Analytics', 'salary': 105000.0}\n{'id': 3, 'name': 'Mike Johnson', 'role': 'Product Manager', 'department': 'Product', 'salary': 110000.0}\n{'id': 4, 'name': 'Sarah Williams', 'role': 'DevOps Engineer', 'department': 'Engineering', 'salary': 98000.0}\n"),
 Document(metadata={'source': './data/databases/company.db', 'table_name': 'projects', 'num_records': 4, 'data_type': 'sql_table'}, page_content="Table: projects \nColumns: id, name, status, budget, lead_id\nTotal Records; 4\n\nSample Records: \n{'id': 1, 'name': 'RAG Implementation', 'status': 'Active', 'budget': 150000.0, 'lead_id': 1}\n{'id': 2, 'name': 'Data Pipeline', 'status': 'Completed', 'budget': 80000.0, 'lead_id': 2}\n{'id': 3, 'name': 'Customer Portal', 'status': 'Planning', 'budget': 200000.0, 'lead_id': 3}\n{'id': 4, 'name': 'ML Platform', 'status': 'Active', 'budget': 250000.0, 'lead_id': 2}\n"),
 Document(metadata={'source': './data/databases/company.db', 'data_type': 'sql_relationships', 'query': 'employee_project_join'}, page_content='Employee-Project Relationships: \n\nJohn Doe (Senior Developer) leads RAG Implementation - Status: Active\n'),
 Document(metadata={'source': './data/databases/company.db', 'data_type': 'sql_relationships', 'query': 'employee_project_join'}, page_content='Employee-Project Relationships: \n\nJohn Doe (Senior Developer) leads RAG Implementation - Status: Active\nJane Smith (Data Scientist) leads Data Pipeline - Status: Completed\n'),
 Document(metadata={'source': './data/databases/company.db', 'data_type': 'sql_relationships', 'query': 'employee_project_join'}, page_content='Employee-Project Relationships: \n\nJohn Doe (Senior Developer) leads RAG Implementation - Status: Active\nJane Smith (Data Scientist) leads Data Pipeline - Status: Completed\nMike Johnson (Product Manager) leads Customer Portal - Status: Planning\n'),
 Document(metadata={'source': './data/databases/company.db', 'data_type': 'sql_relationships', 'query': 'employee_project_join'}, page_content='Employee-Project Relationships: \n\nJohn Doe (Senior Developer) leads RAG Implementation - Status: Active\nJane Smith (Data Scientist) leads Data Pipeline - Status: Completed\nMike Johnson (Product Manager) leads Customer Portal - Status: Planning\nJane Smith (Data Scientist) leads ML Platform - Status: Active\n')]